<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Booze Calculator</title>
        <meta name="description" content="Buying booze? Get the most bang for your buck.">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/angular-1.3.9.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body ng-app="bc" class="boozecalc">
        <div ng-controller="Controller" class="boozecalc-container">
            <header>
                <button class="booze-button" ng-click="addBooze()">add another booze</button>
                <button class="booze-button" ng-click="sortBooze()">sort booze</button>
            </header>
            <fieldset ng-repeat="booze in boozes" class="booze-item">
                <label class="booze-field field-name">
                    <span class="field-label">name</span
                    ><input type="text" ng-model="booze.name" class="field-value"/>
                </label>
                <label class="booze-field field-cost">
                    <span class="field-label">$</span>
                    <input type="number" pattern="[0-9]*[.,]?[0-9]+" min="0.01" step="any" ng-model="booze.cost" class="field-value"/>
                </label>
                <label class="booze-field field-volume">
                    <span class="field-label">mL</span>
                    <input type="number" pattern="[0-9]*[.,]?[0-9]+" min="1" step="1" ng-model="booze.volume" class="field-value"/>
                </label>
                <label class="booze-field field-proof">
                    <span class="field-label">proof</span>
                    <input type="number" pattern="[0-9]*[.,]?[0-9]+" min="0.01" max="200" step="any" ng-model="booze.proof" class="field-value"/>
                </label>
                <span class="booze-field field-dollar-proof">
                    <span class="field-label">$/proof</span>
                    <span class="field-value" ng-show="getDollarPerProof(booze)">{{getDollarPerProof(booze) | currency}}</span>
                    <span class="field-value" ng-hide="getDollarPerProof(booze)">&mdash;</span>
                </span>
            </fieldset>
            <footer>
                <button class="booze-button" ng-click="addBooze()">add another booze</button>
                <button class="booze-button" ng-click="sortBooze()">sort booze</button>
                <p>Fill in the values for cost in dollars (<strong>$</strong>), volume in milliliters (<strong>mL</strong>), and alcohol content by volume in proof (<strong>proof</strong>). Results will be the cost of 5 mL of pure alcohol (dollars per proof).</p>
            </footer>
        </div>
    </body>
</html>
